/*.modal-dialog {
    width: 600px;
    padding-top: 100px;
    padding-bottom: 30px;
}*/

input::-webkit-calendar-picker-indicator{
    display: none;
}
body {
  background: none repeat scroll 0 0 #16a085;
}

legend {
  border: 0 none;
  color: #999;
  padding: 0;
}

#reports_section tbody tr td {
    color: #fff;
    border: 1px solid #000;
}
