@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.whitelink{
	color: #FFFFFF !important;	
}

.login-con {
    background: #3aab74;
    padding-top:10px;
    border: 1px solid #edca68;
}

.form-action {
    margin-top: 2em;
    margin-bottom: 2em;
}
.input-lg {
	border: 1px solid #ddd;
    border-radius:0;
}
input[type="radio"], input[type="checkbox"] {
    width: auto;
}
body.login {
   background: none repeat scroll 0 0 #3aab74;
}
.btn.btn-custom{
    background: #FF9800;
    
}
.super_admin {
    margin-top: 0;
}
.form-group h1, .super_admin, a.super_admin:hover{
    color: #fff;
    width: 129px;
}
.logo-con {
    background: url("../logo.png") no-repeat 0 0;
    height: 123px;
    color: #3aab76;
    padding-left: 89px;
    padding-top: 36px;
    text-align: center;
    font-weight: bold;
    width: 300px;
    float: left;
}
.logo {
  background-image: url("../logo.png");
  background-repeat: no-repeat;
  height: 123px;
  position: absolute;
  width: 129px;
  background-size: 90% auto;
}
.logo_bg {
  background-color: transparent;
  height: 96px;
  position: relative;
  width: 129px;
    margin: 0 auto;
}
.header-con {
    height: 130px;
    background: #e8e8e8;
    margin-top: 10px;
    margin-bottom: 10px;
}
.header-con .header{
    top:34px;
    color: #3aab76;
}

input[readonly] {
    cursor: default !important;
}

body {
    background: #3aab74
}

div#windowmask {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
  color: #fff;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
}

#windowmask div#innermask {
    margin: 20% auto 0;
    text-align: center;
    width: 100%;
}

.glyphicon-header {
    background: url("../img/header.png") no-repeat
}
.glyphicon-white{
    color:#fff;
}
.panel-header{
    color: #fff;
    border-bottom: 1px dashed #fff;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}
.errline {
    border: 1px solid red;
}
.dataTable td a {
    color: #fff;
    text-decoration: none;
}
.dataTable tbody{
    background: none repeat scroll 0 0 transparent !important;
}
#list_inner_table  ul#paging {							    
    padding-top: 20px;
    text-align: center;
}
#list_inner_table  ul#paging li {
    background: none repeat scroll 0 0 #fff;
    cursor: pointer;
    display: inline;
    font-size: 16px;
    font-weight: bold;
    margin-left: 2px;
    text-align: center;
}
#list_inner_table  ul#paging li > span {
    padding: 0 6px 0 5px;
}
#list_inner_table table tr.hiddenrows {
	display: none;
}
							
.panel-header small {
    color:#DFDBDB;
}
.btn-bluish {
    float:right;
   width: 100%;
    background-color: #fa7057 !important;
  border-color: #fa7057;
  color: #fff;
}

.right-nav div.welcomediv {
    color: #3aab74;
    font-size: 23px;
    font-weight: bold;
    text-align: right;
    padding-bottom: 6px;
}

nav li {
  display: inline-block;
  list-style-type: none;
  padding: 0 15px;
}

.right-nav ul li {
    border: 1px solid #3aab74;
    border-radius: 4px;
    font-size: 14px;
    font-weight: normal;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    cursor: pointer;
}
.right-nav ul li a {
    color: #3aab74;
    text-decoration: none;
}
.tabbable{
        margin-top: 1em;
    }
.right-nav ul li:hover {
    border: 1px solid #fa7057;
    background-color: #fa7057;
}
#myaccount .form-control[disabled], #myaccount .form-control[readonly], #myaccount fieldset[disabled] .form-control, #myaccount_section .form-control[disabled], #myaccount_section .form-control[readonly], #myaccount_section fieldset[disabled] .form-control{
	background-color: #3aab74;
	color: #fff;
}
.panel-body {
    padding: 5px 15px !important;
}

.right-nav ul li.active{
    background-color: #3aab74;
    border: 1px solid #3aab74;
}
.right-nav ul li.active a, .right-nav ul li:hover a{
    color: #fff;
    text-decoration: none;
}
a{
	outline: 0 none !important;
}

/*.right-nav ul li a:hover {
    color: #ffffff;
    text-decoration: none;
}*/
/*.right-nav ul li{
	padding: 10px 15px;
	background: #3aab74;
}
nav li a {
  color: #fff;
}
*/


.panel-header button {
    border-color: #fff;
    background: transparent !important;
    margin: 3px;
}
.nav-tabs>li>a{
    border-radius:0;
}
.nav>li>a{
    padding: 0px 18px;
    border-radius: 0;
    border: 1px solid #fff;
    color: #fff;
}
.nav-tabs {
    border:0px none;
}
.nav-tabs>li {
    
    margin-right: 7px;
}
.nav-tabs>li:last-child {
    margin-right: 0px;
}
.nav>li>a:hover, .nav>li>a:focus {
	
	background-color: transparent;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    color: #fff;
    background-color: #f5bc42;
    border: 1px solid #f5bc42;
    border-bottom-color: #f5bc42;
}

.tab-content{
    padding-top:2em;
}

.section-heading {
    border-bottom: 1px dashed #fff;
    padding-bottom:0.5em;
    color:#fff;
}

.right-nav {
    float: right;
    margin-top: 2em;
}
/*.right-nav nav li a{
    color:#FFF;
}*/
.content-body {
    padding:20px;
}

.error-con {
    color: red;
    margin-left: 15px;
}

#all .table-responsive tbody, #single .table-responsive tbody, #multiple .table-responsive tbody {
    background: none;
}
#all .table-responsive tbody a, #single .table-responsive tbody a, #multiple .table-responsive tbody a {
    color: #FFF;
}

.table-responsive tbody{
    background:#f5f5f5;
}
.search-section {
    padding:20px 0;
}

.submitgreen{
	background: #3aab74 !important;
	border: 1px solid #3aab74 !important;
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 
input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

.dataTable {
    margin-bottom: 10px;
    max-width: 100%;
}

.dataTables_info {
    float: left;
    text-align: left;
    width: 50%;
}

.dataTables_paginate.paging_simple_numbers {
    float: left;
    text-align: right;
    width: 50%;
}

.dataTables_paginate.paging_simple_numbers a {
    background: none repeat scroll 0 0 #fff;
    color: #000;
    cursor: pointer;
    margin-left: 2px;
    padding: 1px 6px;
    text-align: center;
    text-decoration: none;
    width: auto;
}

.dataTables_paginate.paging_simple_numbers a.disabled, .dataTables_paginate.paging_simple_numbers a.current {
    background: none repeat scroll 0 0 #cccccc;
    color: #ffffff;
    cursor: initial;
}

@media(min-width:992px) {
    .login-con {
        margin-top:10%;
    }
    .btn-bluish{
        width: auto !important;
    }
}
@media(max-width:992px) {
    .header-btn {
        top: 1em;
        position: relative;
        display: block;
    }
    .tabbable{
        margin-top: 1em;
    }
	.top-box {
    float: left;
    margin-bottom: 10px;
}
/*.error-mesg {
   min-height: 40px;
}*/
    
}

@media(max-width:767px) {
	.header-con{
		height: auto;
	}
	
.right-nav ul {
  padding: 0;
  width: 100%;
}
.right-nav {
  float: left;
  margin-top: 1em;
  width: 100%;
}
.right-nav nav li {
    display: block;
    float: left;
    list-style-type: none;
    / width: 100%; /
    cursor: pointer;
    margin-bottom: 10px;
    border: 1px solid #3aab74;
    border-radius: 4px;
    font-size: 14px;
    font-weight: normal;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: normal;
    margin-right: 10px;
}

.right-nav nav li a {
  color: #3aab74;
}
.error-mesg {
    float: left;
    padding-top: 5px;
    width: 100%;
}
#list_inner_table, #reports_section_div {
  
  overflow-x: visible;
  overflow-y: scroll;
  width: 100%;
}
}

@media (max-width:992px){
.btn-bluish{width: 192px!important; margin-left: 15px!important;}
.form-control{ margin-bottom:15px!important;}
.search-section [class*= "col-"]{ position:static!important}
.nav-tabs>li{ margin-bottom:8px;}
}

@media(max-width:599px) {
	.tabbable .nav > li > a{
		padding:0 19px;
		margin-bottom:10px;
		}
	.modal-dialog{
		width:90%;
		}
		
#apmntdetailinfo td{
	font-size: 12px;

}		
	}
	
@media(max-width:320px) {
	
#popup-basic .table > tbody > tr > td{
	font-size: 11px;
}
#apmntdetailinfo input {
  width: 100%;
}
#popup-basic .table > tbody > tr > td:nth-child(2n) {
  word-break: break-all;
}


#apmntdetailinfo td {
  font-size: 12px;
}
.nav > li > a {
	padding: 0 20px;
}
}

@media print {
  body * {
    display:none;
  }

  body .printable {
    display:block;
  }
  body a {
  	text-decoration: none !important;
  }
}
