
@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

*{
  
  font-family: 'Exo', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  
   font-family: 'Exo', sans-serif;
}

/* Reset body padding and margins */
/*body
{
    margin: 0;
    padding: 0;
}*/

/* Make Header Sticky */
#header_container {
  /*background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
  border: 0 solid #666;
  height: 135px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;*/
}
#header_container {
  position: relative;
  
}
#header {
  color: #fff;
  font-family: "Exo",sans-serif;
  font-size: 15px;
  line-height: 20px;
 
  margin-top: 21px;
  text-align: center;
}

/* CSS for the content of page. I am giving top and bottom 
   padding of 80px to make sure the header and footer 
   do not overlap the content. */
#container
{
    margin: auto;
    overflow: auto;
    padding: 80px 0;
    width: 940px;
}

#content
{
}

/* Make Footer Sticky */
#footer_container
{
    background: #eee;
    border: 1px solid #666;
    bottom: 0;
    height: 60px;
    left: 0;
    position: fixed;
    width: 100%;
}

#footer
{
    line-height: 60px;
    margin: 0 auto;
    width: 940px;
    text-align: center;
}


