.modal-dialog {
    width: 600px;
    padding-top: 100px;
    padding-bottom: 30px;
}

input::-webkit-calendar-picker-indicator{
    display: none;
}

.panel-body {
  background: none repeat scroll 0 0 #ecf0f1;
}
.super_admin {
  color: #1abc9c;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
.btn.btn-custom{
	background: #1abc9c;
	border-color: transparent;
    color: #fff;	
}
.arrow-left {
  border-bottom: 15px solid transparent;
  border-right: 15px solid #ecf0f1;
  border-top: 15px solid transparent;
  height: 0;
  left: 3px;
  position: absolute;
  top: 55px;
  width: 0;
}



