.modal-dialog {
    width: 600px;
    padding-top: 100px;
    padding-bottom: 30px;
}

input::-webkit-calendar-picker-indicator{
    display: none;
}
body {
  background: none repeat scroll 0 0 #16a085;
}


