
@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

*{
  
  font-family: 'Exo', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  
   font-family: 'Exo', sans-serif;
}

/* Reset body padding and margins */
/*body
{
    margin: 0;
    padding: 0;
}*/

/* Make Header Sticky */
#header_container {
  background: none repeat scroll 0 0 transparent;
  border: 0 solid #666;
  height: 120px;
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  /*z-index: 9999;*/
}
#header_container > a {
  
}
nav li {
  display: inline-block;
  list-style-type: none;
  padding: 0 15px;
}
nav li a {
  color: #fff;
}
#header {
  
  color: #f5f5f5;
  font-family: "Exo",sans-serif;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 14px;
  margin-left: 120px;
  margin-top: -50px;
  text-align: left;
}

/* CSS for the content of page. I am giving top and bottom 
   padding of 80px to make sure the header and footer 
   do not overlap the content. */
#container
{
    margin: 0 auto;
    overflow: auto;
    padding: 80px 0;
    width: 940px;
}

#content
{
}

/* Make Footer Sticky */
#footer_container
{
    background: #eee;
    border: 1px solid #666;
    bottom: 0;
    height: 60px;
    left: 0;
    position: fixed;
    width: 100%;
}

#footer
{
    line-height: 60px;
    margin: 0 auto;
    width: 940px;
    text-align: center;
}
.right-nav ul {
  margin-left: 0;
  margin-top: 10px;
  padding-left: 0;
}


.page-header {
  border-bottom: 0 solid #eee;
  margin: 0px 0 20px;
  padding-bottom: 9px;
}
.page-header h1 {
  color: #fff;
}
.column {
  overflow: hidden;
}
.form-control::-moz-placeholder {
  color: #415468;
  
}
input[placeholder] {
  font-family: "Exo",sans-serif;
  font-size: 17px;
}
.form-control {
  background-color: #fff;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #555;
  display: block;
  font-size: 17px;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  vertical-align: middle;
  width: 100%;
}
.form-control:focus {
  border-color: #6dd4c0;
  outline: 0 none;
}
.table > tbody td {
  background-color: #fff;
  border-top: 0 none !important;
  font-family: "Exo",sans-serif;
  font-weight: 300;
}
.btn-bluish {
  background-color: #16a085;
  border-color: #16a085;
  color: #fff;
}
.panel-cusotm .panel-heading h1 {
  color: #e74c3c;
  margin: 0;
}
.column h4 {
  color: rgba(65, 84, 104, 0.5); /*#fff;*/
}

.nav.nav-tabs li.active > a {
    background-color: #ecf0f1;
}
.nav.nav-tabs li a {
    color: #fff;
    padding: 10px;
}
.nav.nav-tabs li a:hover h4 {
  color: #415468;
}

.nav.nav-tabs .active h4 {
    color: #415468;
}

.table > thead > tr > th {
  background-color: #ecf0f1;
  border-bottom: 0 none;
  color: #415468;
  font-family: "Exo",sans-serif;
  font-weight: 400;
}
.container { /*line 9 in bootstrap*/
  width: 100%;
}
.panel.panel-default.panel-cusotm {
  background-color: #ecf0f1;
  border: 0 none;
}
.panel-cusotm .panel-heading {
  background-color: transparent;
  border: 0 none;
}
@media(min-width:319px){
	
.right-nav {
  float: none;
  position: relative;
  text-align: left;
  top: 35px;
  width: 100%;
}
	.right-nav ul {
  margin-left: 0;
  margin-top: 10px;
  padding-left: 0;
}
}
@media(min-width:768px){
	.right-nav {
	  float: none;
	  position: relative;
	  text-align: left;
	  top: 32px;
	  width: 100%;
	}
}
@media(min-width:1024px){
	.right-nav {
	  float: right;
	  position: relative;
	  text-align: right;
	  top: -39px;
	  width: 20%;
	}
}